{% extends 'homebase.html' %}
{% block title %} {{ categorydata.title }} Arabalar {% endblock %}
{% block keywords %} {{ categorydata.keywords }} {% endblock %}
{% block description %} {{ categorydata.description }} {% endblock %}
{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block content %}
{% load static %}


<div class="page-title" style="background-image: url({% static 'images/background01.jpg' %} );">
	<div class="inner">
		<div class="container">
			<div class="title">{{categorydata.title}}</div> <!-- end .title -->
		</div> <!-- end .container -->
	</div> <!-- end .inner -->
</div> <!-- end .page-title -->

<section class="section small-top-padding white">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<div class="listings">
						<div class="listings-list clearfix">
							{% for rs in cars %}
							<div class="listing">
								<div class="image" style="background-image: url({{rs.image.url}});"></div>
								<div class="details">
									<div class="item"><span>4</span><i class="icon-car-seat"></i></div>
									<div class="item"><span>{{rs.fuel}}</span><i class="icon-car-fuel"></i></div>
									<div class="item"><span>4</span><i class="icon-car-door"></i></div>
									<div class="item"><span>{{rs.gear}}</span><i class="icon-car-gear"></i></div>
									<div class="item"><span>Spor</span><i class="fa fa-certificate"></i></div>
								</div> <!-- end .details -->
								<div class="content">
									<div class="title"><a href="/car/{{ rs.id }}/{{ rs.slug }}">{{rs.title}}</a></div>
									<p>{{rs.gear}}</p>
									<a href="/car/{{ rs.id }}/{{ rs.slug }}" class="button border">Daha Fazla</a>
									<div class="price">{{rs.price}}₺</div>
								</div> <!-- end .content -->
							</div> <!-- end .listing -->
							{% endfor %}
						</div>
					</div> <!-- end .listing-grid -->
				</div> <!-- end .col-sm-9 -->
				{% block sidebar %}{% include 'sidebar.html' %}{% endblock %}
			</div> <!-- end .row -->
		</div> <!-- end .container -->
	</div> <!-- end .inner -->
</section> <!-- end .section -->
{% endblock %}