{% extends 'homebase.html' %}
{% block title %} {{ categorydata.title }} Arama Sonuçları {% endblock %}
{% block keywords %} {{ categorydata.keywords }} {% endblock %}
{% block description %} {{ categorydata.description }} {% endblock %}
{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block content %}
{% load static %}


<div class="page-title" style="background-image: url({% static 'images/background01.jpg' %} );">
	<div class="inner">
		<div class="container">
			<div class="title">Arama Sonuçları</div> <!-- end .title -->
		</div> <!-- end .container -->
	</div> <!-- end .inner -->
</div> <!-- end .page-title -->

<section class="section small-top-padding white">
	<div class="inner">
		<div class="container">
			<div class="row">
				<div class="col-sm-9">
					<div class="listings">
						<div class="heading clearfix">
							<div class="listings-grid clearfix">
								{% for rs in cars %}
								<div class="listing">
									<div class="image"><a href="/car/{{rs.id}}/{{rs.slug}}"><img src="{{rs.image.url}}" alt="listing" class="img-responsive"></a></div>
									<div class="content">
										<div class="title"><a href="/car/{{rs.id}}/{{rs.slug}}">{{rs.title}}</a></div>
										<p>{{rs.gear}}</p>
										<div class="price">{{rs.price}}₺</div>
									</div>
								</div> <!-- end .listing -->
								{% endfor %}
							</div> <!-- end .listing-grid -->
						</div> <!-- end .listings -->
					</div> <!-- end .col-sm-9 -->
				</div> <!-- end .row -->
			</div> <!-- end .container -->
		</div> <!-- end .inner -->
	</div>
</section> <!-- end .section -->
{% endblock %}