{% load static %}
<div class="responsive-menu">
    <a href="" class="responsive-menu-close"><i class="ion-android-close"></i></a>
    <nav class="responsive-nav"></nav> <!-- end .responsive-nav -->
</div> <!-- end .responsive-menu -->
<section class="section dark tiny">
    <div class="inner">
        <div class="container">
            <div class="widget">
                <form class="search-form" action="/search/" method="post">
                    {% csrf_token %}
                    <input name="query" type="search" placeholder="arama" />
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div> <!-- end .widget -->
        </div> <!-- end .container -->
    </div> <!-- end .inner -->
</section> <!-- end .section -->
<section class="section white no-padding-bottom text-center">
    <div class="inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h1 class="main-heading">Araba İlanı Vermek Artık Çok Kolay</h1>
                    <p>Sitemizi ziyaret ettiğiniz için teşekkür ederiz. Araba almak için ilanları inceleyebilir, satmak isterseniz de rahatça ilan verebilirsiniz.</p>
                    <img src="{% static 'images/ana-car.png'%}" alt="car" class="img-responsive center-block featured-image">
                </div> <!-- end .col-sm-8 -->
            </div> <!-- end .row -->
        </div> <!-- end .container -->
    </div> <!-- end .inner -->
</section> <!-- end .section -->

<section class="section white">
    <div class="inner">
        <h1 class="main-heading">Sizin için Seçilenler<small>En İyi Arabalar</small></h1>
        <div id="featured-cars" class="owl-carousel featured-cars">
            {% for rs in daycars %}
            <div class="item">
                <div class="featured-car">
                    <div class="image">
                        <a href="/car/{{rs.id}}/{{rs.slug}}"><img src="{{rs.image.url}}" alt="car" class="img-responsive" height="20"></a>
                        <span class="sale-tag"></span>
                    </div> <!-- end .image -->
                    <div class="content">
                        <div class="clearfix">
                            <h5><a href="/car/{{rs.id}}/{{rs.slug}}">{{rs.title}}</a></h5>
                            <span class="price">{{rs.price}}₺</span>
                        </div> <!-- end .clearfix -->
                        <div class="line"></div>
                        <p>{{rs.year}} Model {{rs.gear}}</p>
                    </div> <!-- end .content -->
                    <div class="details clearfix">
                        <div class="seats"><i class="icon-car-seat"></i>4</div>
                        <div class="fuel"><i class="icon-car-fuel"></i>{{rs.fuel}}</div>
                        <div class="type"><i class="icon-car-door"></i>Spor</div>
                    </div> <!-- end .details -->
                </div> <!-- end .featured-car -->
            </div> <!-- end .item -->
            {% endfor %}
        </div> <!-- end .featured-cars -->
    </div> <!-- end .inner -->
</section> <!-- end .section -->
