{% load static %}
<section class="section white no-padding-bottom text-center">
    <div class="inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h1 class="main-heading">Welcome to Car Dealership WP Theme</h1>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem eriam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    <img src="{% static 'images/car1.png'%}" alt="car" class="img-responsive center-block featured-image">
                </div> <!-- end .col-sm-8 -->
            </div> <!-- end .row -->
        </div> <!-- end .container -->
    </div> <!-- end .inner -->
</section> <!-- end .section -->

<section class="section white">
    <div class="inner">
        <h1 class="main-heading">Featured Car Deals<small>Best Car Deals</small></h1>
        <div id="featured-cars" class="owl-carousel featured-cars">
            {% for rs in daycars %}
            <div class="item">
                <div class="featured-car">
                    <div class="image">
                        <a href="/cars/{{rs.id}}/{{rs.slug}}"><img src="{{rs.image.url}}" alt="car" class="img-responsive"></a>
                        <span class="sale-tag"></span>
                    </div> <!-- end .image -->
                    <div class="content">
                        <div class="clearfix">
                            <h5><a href="/cars/{{rs.id}}/{{rs.slug}}">{{rs.title}}</a></h5>
                            <span class="price">{{rs.price}}₺</span>
                        </div> <!-- end .clearfix -->
                        <div class="line"></div>
                        <p>{{rs.description}}</p>
                    </div> <!-- end .content -->
                    <div class="details clearfix">
                        <div class="seats"><i class="icon-car-seat"></i>4</div>
                        <div class="fuel"><i class="icon-car-fuel"></i>{{rs.fuel}}</div>
                        <div class="type"><i class="icon-car-door"></i>Sport</div>
                    </div> <!-- end .details -->
                </div> <!-- end .featured-car -->
            </div> <!-- end .item -->
            {% endfor %}
        </div> <!-- end .featured-cars -->
    </div> <!-- end .inner -->
</section> <!-- end .section -->