{% load static %}
<section class="section white no-padding-bottom text-center">
    <div class="inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h1 class="main-heading">Welcome to Car Dealership WP Theme</h1>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem eriam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    <img src="{% static 'images/car1.png'%}" alt="car" class="img-responsive center-block featured-image">
                </div> <!-- end .col-sm-8 -->
            </div> <!-- end .row -->
        </div> <!-- end .container -->
    </div> <!-- end .inner -->
</section> <!-- end .section -->

<section class="section light">
    <div class="inner">
        <div class="container">
            <h1 class="main-heading">What are you looking for?<small>Best Car Deals</small></h1>
            <div class="services clearfix">
                <div class="service yellow">
                    <div class="icon">
                        <i class="icon-minicar"></i>
                        <div class="sub-icon">$</div> <!-- end .sub-icon -->
                    </div> <!-- end .icon -->
                    <div class="line"></div> <!-- end .line -->
                    <h5>Car Sale</h5>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                </div> <!-- end .service -->
                <div class="service orange">
                    <div class="icon">
                        <i class="icon-sports-car"></i>
                        <div class="sub-icon"><i class="ion-key"></i></div> <!-- end .sub-icon -->
                    </div> <!-- end .icon -->
                    <div class="line"></div> <!-- end .line -->
                    <h5>Car Buy</h5>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                </div> <!-- end .service -->
                <div class="service green">
                    <div class="icon">
                        <i class="icon-monster-truck"></i>
                        <div class="sub-icon">R</div> <!-- end .sub-icon -->
                    </div> <!-- end .icon -->
                    <div class="line"></div> <!-- end .line -->
                    <h5>Car On Rent</h5>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                </div> <!-- end .service -->
            </div> <!-- end .services -->
        </div> <!-- end .container -->
    </div> <!-- end .inner -->
</section> <!-- end .section -->

<section class="section white">
    <div class="inner">
        <h1 class="main-heading">Featured Car Deals<small>Best Car Deals</small></h1>
        <div id="featured-cars" class="owl-carousel featured-cars">
            <div class="item">
                <div class="featured-car">
                    <div class="image">
                        <a href=""><img src="{% static 'images/featured-car01.jpg'%}" alt="car" class="img-responsive"></a>
                        <span class="sale-tag">For Sale</span>
                    </div> <!-- end .image -->
                    <div class="content">
                        <div class="clearfix">
                            <h5><a href="">Range Rover</a></h5>
                            <span class="price">$80,000</span>
							</div> <!-- end .clearfix -->
                        <div class="line"></div>
                        <p>Nam liber tempor cum soluta nobis eleife option congue nihil...</p>
                    </div> <!-- end .content -->
                    <div class="details clearfix">
                        <div class="seats"><i class="icon-car-seat"></i>4</div>
                        <div class="fuel"><i class="icon-car-fuel"></i>Petrol</div>
                        <div class="type"><i class="icon-car-door"></i>Sport</div>
                    </div> <!-- end .details -->
                </div> <!-- end .featured-car -->
            </div> <!-- end .item -->
            <div class="item">
                <div class="featured-car">
                    <div class="image">
                        <a href=""><img src="{% static 'images/featured-car02.jpg'%}" alt="car" class="img-responsive"></a>
                        <span class="sale-tag">For Sale</span>
                    </div> <!-- end .image -->
						<div class="content">
                            <div class="clearfix">
                                <h5><a href="">Porsche</a></h5>
                                <span class="price">$80,000</span>
                            </div> <!-- end .clearfix -->
                            <div class="line"></div>
                            <p>Nam liber tempor cum soluta nobis eleife option congue nihil...</p>
                        </div> <!-- end .content -->
                    <div class="details clearfix">
                        <div class="seats"><i class="icon-car-seat"></i>4</div>
                        <div class="fuel"><i class="icon-car-fuel"></i>Petrol</div>
                        <div class="type"><i class="icon-car-door"></i>Sport</div>
                    </div> <!-- end .details -->
                </div> <!-- end .featured-car -->
            </div> <!-- end .item -->
            <div class="item">
                <div class="featured-car">
                    <div class="image">
                        <a href=""><img src="{% static 'images/featured-car03.jpg'%}" alt="car" class="img-responsive"></a>
                        <span class="sale-tag green">For Rent</span>
                    </div> <!-- end .image -->
                    <div class="content">
                        <div class="clearfix">
                            <h5><a href="">Mercediz Benz</a></h5>
                            <span class="price">$10 / km</span>
                        </div> <!-- end .clearfix -->
                        <div class="line"></div>
                        <p>Nam liber tempor cum soluta nobis eleife option congue nihil...</p>
                    </div> <!-- end .content -->
                    <div class="details clearfix">
                        <div class="seats"><i class="icon-car-seat"></i>4</div>
                        <div class="fuel"><i class="icon-car-fuel"></i>Petrol</div>
                        <div class="type"><i class="icon-car-door"></i>Sport</div>
                    </div> <!-- end .details -->
                </div> <!-- end .featured-car -->
            </div> <!-- end .item -->
            <div class="item">
                <div class="featured-car">
                    <div class="image">
                        <a href=""><img src="{% static 'images/featured-car01.jpg'%}" alt="car" class="img-responsive"></a>
                        <span class="sale-tag">For Sale</span>
                    </div> <!-- end .image -->
                    <div class="content">
                        <div class="clearfix">
                            <h5><a href="">Range Rover</a></h5>
                            <span class="price">$80,000</span>
                        </div> <!-- end .clearfix -->
                        <div class="line"></div>
                        <p>Nam liber tempor cum soluta nobis eleife option congue nihil...</p>
                    </div> <!-- end .content -->
                    <div class="details clearfix">
                        <div class="seats"><i class="icon-car-seat"></i>4</div>
                        <div class="fuel"><i class="icon-car-fuel"></i>Petrol</div>
                        <div class="type"><i class="icon-car-door"></i>Sport</div>
                    </div> <!-- end .details -->
                </div> <!-- end .featured-car -->
            </div> <!-- end .item -->
            <div class="item">
                <div class="featured-car">
                    <div class="image">
                        <a href=""><img src="{% static 'images/featured-car02.jpg'%}" alt="car" class="img-responsive"></a>
                        <span class="sale-tag">For Sale</span>
                    </div> <!-- end .image -->
                    <div class="content">
                        <div class="clearfix">
                            <h5><a href="">Porsche</a></h5>
                            <span class="price">$80,000</span>
                        </div> <!-- end .clearfix -->
                        <div class="line"></div>
                        <p>Nam liber tempor cum soluta nobis eleife option congue nihil...</p>
                    </div> <!-- end .content -->
                    <div class="details clearfix">
                        <div class="seats"><i class="icon-car-seat"></i>4</div>
                        <div class="fuel"><i class="icon-car-fuel"></i>Petrol</div>
                        <div class="type"><i class="icon-car-door"></i>Sport</div>
                    </div> <!-- end .details -->
                </div> <!-- end .featured-car -->
            </div> <!-- end .item -->
        </div> <!-- end .featured-cars -->

    </div> <!-- end .inner -->
</section> <!-- end .section -->

