<footer class="footer">
	<div class="top">
		<div class="container">
			<div class="twitter">
				<h6 style="text-align:center">Aradığınızı kolayca bulabilir hızlı bir şekilde ilan verebilirsiniz.</h6>
			</div> <!-- end .twitter -->
			<div class="row">
				<div class="col-sm-7">
					<p>{{setting.description}}</p>
					<hr />
					<div class="iconbox-left">
						<div class="icon"><i class="fa fa-map-marker"></i></div> <!-- end .icon -->
						<div class="content"><p>{{setting.address}}</p></div> <!-- end .content -->
					</div> <!-- end .iconbox-left -->
					<div class="iconbox-left">
						<div class="icon"><i class="fa fa-phone"></i></div> <!-- end .icon -->
						<div class="content"><p>Telefon: {{setting.phone}}<br>Faks:{{setting.fax}}</p></div> <!-- end .content -->
					</div> <!-- end .iconbox-left -->
					<div class="iconbox-left">
						<a href="mailto:{{setting.email}}"><div class="icon"><i class="fa fa-envelope"></i></div></a> <!-- end .icon -->
						<div class="content"><p>{{setting.email}}</p></div> <!-- end .content -->
					</div> <!-- end .iconbox-left -->
					<div class="iconbox-left" style="float:left">
						<a href="https://www.facebook.com" target="_blank"><div class="icon"><i class="fa fa-facebook"></i></div></a> <!-- end .icon -->
						<div class="content"><p>Facebook: {{setting.facebook}}</p></div> <!-- end .content -->
						<a href="https://www.twitter.com" target="_blank"><div class="icon"><i class="fa fa-twitter"></i></div></a>
						<div class="content"><p>Twitter: {{setting.twitter}}</p></div>
						<a href="https://www.instagram.com" target="_blank"><div class="icon"><i class="fa fa-instagram"></i></div></a>
						<div class="content"><p>Instagram: {{setting.instagram}}</p></div>
					</div> <!-- end .iconbox-left -->
				</div> <!-- end .col-sm-4 -->
				<div class="col-sm-4">
					<div class="option"><p>İletişim formunu doldurarak bize ulaşabilirsiniz.</p>
						<p class="button-list"><a href="/iletisim" class="button border blue size1">Bize Ulaşın</a></p>
					</div> <!-- end .item -->
				</div> <!-- end .col-sm-4 -->
			</div> <!-- end .row -->
		</div> <!-- end .container -->
	</div> <!-- end .top -->
	<div class="bottom">
		<span class="copyright">Copyright 2020. All Rights Reserved by Tugce G. ♥ ♥ ♥</span>
	</div> <!-- end .bottom -->
</footer> <!-- end .footer -->
<!-- jQuery -->
{% load static %}
<script src="{% static 'js/jquery-1.11.2.min.js'%}"></script>
<!-- Bootstrap -->
<script src="{% static 'js/bootstrap.min.js'%}"></script>
<!-- Inview -->
<script src="{% static 'js/jquery.inview.min.js'%}"></script>
<!-- google maps -->
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<!-- Tweetie -->
<script src="{% static 'scripts/Tweetie/tweetie.min.js'%}"></script>
<!-- FlexSlider -->
<script src="{% static 'scripts/FlexSlider/jquery.flexslider-min.js'%}"></script>
<!-- Owl Carousel -->
<script src="{% static 'js/owl.carousel.min.js'%}"></script>
<!-- Isotope -->
<script src="{% static 'js/isotope.pkgd.min.js'%}"></script>

<script src="{% static 'js/imagesloaded.pkgd.min.js'%}"></script>
<!-- noUiSlider -->
<script src="{% static 'js/jquery.nouislider.all.min.js'%}"></script>
<!-- Scripts.js -->
<script src="{% static 'js/scripts.js'%}"></script>