{% load static %}
<header class="header">
	<div class="container">
		<div class="navigation clearfix">
			<div class="logo"><a href="/"><img src="{% static 'images/logo.png'%}" alt="Automan" class="img-responsive"></a></div> <!-- end .logo -->
			<nav class="main-nav">

				<ul class="list-unstyled">
					<li class="active">
						<a href="/">ANASAYFA</a>
					</li>
					{% load mptt_tags %}
					<li>
						<a href="/">Kategoriler</a>
						<ul>
							{% recursetree category %}

							{% if  node.is_leaf_node %}


							<li><a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a></li>


							{% endif %}


							{% if not node.is_leaf_node %}

							<li><a href="/category/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a>
								<ul>{{ children }} </ul></li>

							{% endif %}

							{% endrecursetree %}
						</ul>
					</li>
					<li>
						<a href="blog.html">Blog</a>
						<ul>
							<li><a href="blog.html">Blog</a></li>
							<li><a href="blog-post.html">Blog Post</a></li>
						</ul>
					</li>
					<li>
						<a href="/referanslar">REFERANSLAR</a>
						<ul>
							<li><a href="compare.html">Compare</a></li>
							<li><a href="compare-details.html">Compare Details</a></li>
						</ul>
					</li>
					<li><a href="/hakkimizda">HAKKIMIZDA</a></li>
					<li><a href="/iletisim">İLETİŞİM</a></li>
					<li>
						{% if user.id is not None %}
						<a href="/">{{user.first_name}} {{user.last_name}}</a>
						<ul>
							<li><a href="#">Hesabım</a></li>
							<li><a href="#">İstek Listesi</a></li>
							<li><a href="#">Karşılaştır</a></li>
							<li><a href="#">Yorumlarım</a></li>
							<li><a href="/logout">Çıkış Yap</a></li>
						</ul>
						{% else %}
						<a href="/login">Login</a>

						<div class="login"><a href="/signup"><i class="ion-ios-person"></i></a></div>
						{% endif %}
					</li>
				</ul>
			</nav> <!-- end .main-nav -->
			<a href="" class="responsive-menu-open"><i class="fa fa-bars"></i></a>
		</div> <!-- end .navigation -->
	</div> <!-- end .container -->
</header> <!-- end .header -->
