{% load static %}
<header class="header">
	<div class="container">
		<div class="navigation clearfix">
			<div class="logo"><a href="/"><img src="{% static 'images/logo.png'%}" alt="Automan" class="img-responsive"></a></div> <!-- end .logo -->
			<nav class="main-nav">
				{% load mptt_tags %}
				<ul class="list-unstyled">
					<li class="active">
						<a href="/">ANASAYFA</a>
					</li>
					<li><a href="/hakkimizda">Kategoriler</a>
						<ul>
							{% recursetree category %}
							<li>
								<a href="/category/{{ node.id }}/{{node.slug}}">{{ node.title }}</a>
								{% if not node.is_leaf_node %}
								<ul>
									{{ children }}
								</ul>
								{% endif %}
							</li>
							{% endrecursetree %}
						</ul>
					</li>
					<li>
						<a href="/">Menü</a>
						{% if menu %}
						<ul>
							{% recursetree menu %}
							<li>
								<a href="/menu/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a>
								{% if not node.is_leaf_node %}
								<ul>
									{{ children }}
								</ul>
								{% endif %}
							</li>
							{% endrecursetree %}
						</ul>
						{% endif %}
					</li>
					<li>
						<a href="/hakkimizda">Hakkımızda</a>

					</li>
					<li>
						<a href="/referanslar">Yardım Merkezi</a>
						<ul>
							<li><a href="/sss">Sıkça Sorulan Sorular</a></li>
							<li><a href="/referanslar">Referanslar</a></li>
						</ul>
					</li>
					<li><a href="/iletisim">İLETİŞİM</a></li>
					<li>
						{% if user.id is not None %}
						<a href="/">{{user.first_name}} {{user.last_name}}</a>
						<div class="login"><a href="/signup"><img src="{{request.user.profile.image.url}}"></img></a></div>
						<ul>
							<li><a href="/user">Hesabım</a></li>
							<li><a href="#">İstek Listesi</a></li>
							<li><a href="/user/contents">İçeriklerim</a></li>
							<li><a href="/user/comments">Yorumlarım</a></li>
							<li><a href="/logout">Çıkış Yap</a></li>
						</ul>
						{% else %}
						<a href="/login">Login</a>

						<div class="login"><a href="/signup"><img src="{{user.profile.image.url}}"></img></a></div>
						{% endif %}
					</li>
				</ul>
			</nav> <!-- end .main-nav -->
			<a href="" class="responsive-menu-open"><i class="fa fa-bars"></i></a>
		</div> <!-- end .navigation -->
	</div> <!-- end .container -->
</header> <!-- end .header -->
