{% load static %}

<div class="col-sm-3">
	<div class="sidebar">
		<div class="widget"></div> <!-- end .widget -->
		<div class="widget">
			<h5 class="title">Categories</h5>
			<ul class="fa-ul list-unstyled">
				<li><i class="fa-li fa fa-caret-right"></i><a href="">New Car Launch</a></li>
				<li><i class="fa-li fa fa-caret-right"></i><a href="">Race Cars</a></li>
				<li><i class="fa-li fa fa-caret-right"></i><a href="">Vintage Cars</a></li>
				<li><i class="fa-li fa fa-caret-right"></i><a href="">Car Accessories</a></li>
				<li><i class="fa-li fa fa-caret-right"></i><a href="">Pre Owned Cars</a></li>
			</ul>
		</div> <!-- end .widget -->
		<div class="widget">
			<div class="call-to-action sidebar-cta">
				<div class="image"><img src="{% static 'images/cta2.jpg' %} " alt="alt" class="img-responsive"></div>
				<div class="content">
					<h4>Arabanızı Satın </h4>
					<p>Aracınızı satmak artık çok kolay. İlan verin ve bekleyin...</p>
					<a href="" class="button border white">İlan Ver</a>
				</div> <!-- end .content -->
			</div> <!-- end .call-to-action -->
		</div> <!-- end .widget -->
	</div>
</div> <!-- end .col-sm-3 -->
