{% load static %}

<div class="col-sm-3">
	<div class="sidebar">
		<div class="widget"></div> <!-- end .widget -->
		<div class="widget">
			<div class="call-to-action sidebar-cta">
				<div class="image"><img src="{% static 'images/cta2.jpg' %} " alt="alt" class="img-responsive"></div>
				<div class="content">
					<h4>Arabanızı Satın </h4>
					<p>Aracınızı satmak artık çok kolay. İlan verin ve bekleyin...</p>
					<a href="/user/addadvertisement" class="button border white">İlan Ver</a>
				</div> <!-- end .content -->
			</div> <!-- end .call-to-action -->
		</div> <!-- end .widget -->
	</div>
</div> <!-- end .col-sm-3 -->
