{% extends 'homebase.html' %}
{% block title %} Kayıt Ol {{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block content %}
{% load static %}
<div class="responsive-menu">
    <a href="" class="responsive-menu-close"><i class="ion-android-close"></i></a>
    <nav class="responsive-nav"></nav> <!-- end .responsive-nav -->
</div> <!-- end .responsive-menu -->

<div class="page-title" style="background-image: url({% static 'images/background01.jpg' %} );">
    <div class="inner">
        <div class="container">
            <div class="title">Kayıt Ol</div> <!-- end .title -->
        </div> <!-- end .container -->
    </div> <!-- end .inner -->
</div> <!-- end .page-title -->

<section class="section white">
    <div class="inner">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="contact">
                        <h4>Kayıt Formu</h4>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{message.tags}}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                            <p>
                                {{field.label_tag}}<br>
                                {{field}}
                                {% if field.help_text %}
                                    <small style="color:grey">{{ field.help_text }}</small>
                                {% endif %}
                                 {% for error in field.errors %}
                                     <p style="color:red">{{error}}</p>
                                {% endfor %}
                            </p>
                            {% endfor %}
                            <button type="submit">Kayıt Ol</button>
                        </form>
                    </div> <!-- end .contact -->
                </div> <!-- end .col-sm-8 -->
            </div> <!-- end .row -->
        </div> <!-- end .container -->
    </div> <!-- end .inner -->
</section> <!-- end .section -->
{% endblock %}