{% extends 'homebase.html' %}
{% block title %}Araba İlanı Yorumları{{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block head %}
<link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}

{% block content %}
{% load static %}
<div class="page-title" style="background-image: url({% static 'images/background01.jpg' %} );">
    <div class="inner">
        <div class="container">
            <div class="title">Araba İlanı Yorumları</div> <!-- end .title -->
        </div> <!-- end .container -->
    </div> <!-- end .inner -->
</div> <!-- end .page-title -->
<header>
    <section class="section white">
        <div class="inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="contact-details">
                            <div class="item">
                                <div class="content">
                                    {% include "user_panel.html" %}
                                </div> <!-- end .content -->
                            </div> <!-- end .item -->
                        </div> <!-- end .contact-details -->
                    </div> <!-- end .col-sm-4 -->

                    <div class="col-sm-9">
                        <h5 class="text-uppercase"><strong>İçerik Bilgileri</strong></h5><br><br>
                        <div class="option">
                                    <p class="button-list"><a href="/user/addcontent" class="button border dark size1">İçerik Ekle</a></p>
                                <div class="option-content"><img src="{{ profile.image.url}}" alt=""></div>
                            </div> <!-- end .item -->
                        <table border="1" style="text-align:center;">
                            <tr>
                                <td width="150"><strong>Resim</strong></td>
                                <td width="150"><strong>Başlık</strong></td>
                                <td width="350"><strong>Type</strong></td>
                                <td width="200"><strong>Menu</strong></td>
                                <td width="70"><strong>Status</strong></td>
                                <td width="200"><strong>Tarih</strong></td>
                                <td width="70"><strong>Detay</strong></td>
                            </tr>
                            {% for rs in contents %}
                            <tr>
                                <td><img src="{{rs.image.url}}" alt="" width="300"></td>
                                <td> {{rs.title}}</td>
                                <td>{{rs.type}}</td>
                                <td> {{rs.menu.title}}</td>
                                <td>{{rs.menu.status}}</td>
                                <td>{{rs.create_at}}</td>
                                <td><a href="/user/contentedit/{{rs.id}}">Düzenle</a>
                                <a href="/user/contentdelete/{{rs.id}}" onclick="return confirm('Yorumu silmek istediğinize emin misiniz?')">SİL</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
{% endblock %}